MATLAB\perceptionTtoolchain\codegen
MATLAB\perceptionTtoolchain\coder
MATLAB\perceptionTtoolchain\coder\*
Data/QuadRotor/quad_recording/*
*.asv
*SFB.mat
MATLAB/perceptionTtoolchain/tempGMs.mat
MATLAB/perceptionTtoolchain/trainedPerception.mat
MATLAB/perceptionTtoolchain/tempGMs.mat
*~
*.~
*.swp
spr
.DS_Store
RTSS15/WiP/PosterAbstract/merged_document.pdf
RTSS15/WiP/PosterAbstract/poster_abs.pdf
RTSS15/Paper/CopyrightReceipt.pdf
RTSS15/Paper/PID3881855.pdf
RTSS15/Paper/RTSS15_Camera/Paper/RTSS15_Paper/root-output.pdf
RTSS15/Paper/RTSS15_Camera/Paper/RTSS15_Paper/root-output1.pdf
RTSS15/Paper/RTSS15_Camera/Paper/RTSS15_Paper/root.ps
RTSS15/WiP/PosterAbstract/Data/untitled.slx.autosave
RTSS15/WiP/merged_document.pdf
RTSS15/WiP/rtss2015-wip_paper_11.pdf
RTSS15/Paper/RTSS15_Camera/Paper/RTSS15_Paper/RTSS15_Main.pdf
RTSS15/Paper/RTSS15_Camera/Paper/RTSS15_Paper/RTSS15_TechRep.pdf
RTSS15/WiP/PosterAbstract/rtss15_wip.pdf
Pubs/Invited_IEEE_ManEtc16/simulations/sim_ieee.slx.autosave
Platform/FinalExperiments/RosbagInMatlab/2015-10-08-16-28-06/
Platform/FinalExperiments/RosbagInMatlab/2015-10-08-18-36-42/
Pubs/CPSWeek16/Code/
Pubs/CPSWeek16/ProblemFormulation/Preliminaries.synctex.gz
Pubs/CPSWeek16/ProblemFormulation/SAMPC_formulation.log
Pubs/CPSWeek16/ProblemFormulation/SAMPC_formulation.tex
RTSS15/Paper/CDC14Paper/CDC14_Anytime_Main.synctex.gz
RTSS15/Paper/RTSS15_Camera/Paper/RTSS15_Paper/figures/CostAndModes..ps
RTSS15/Paper/RTSS15_Camera/Paper/RTSS15_Paper/figures/CostAndModes.eps
RTSS15/Paper/RTSS15_Camera/Paper/RTSS15_Paper/figures/CostAndModes.ps
RTSS15/Paper/RTSS15_Camera/Paper/RTSS15_Paper/figures/omnigraffle_figures/process_figure2.eps
RTSS15/Paper/RTSS15_Camera/Paper/RTSS15_Paper/figures/omnigraffle_figures/process_figure2.ps
RTSS15/Paper/RTSS15_Camera/Paper/RTSS15_Paper/figures/placeHolder.ps

