<launch>
  <node pkg="tf2_ros" type="static_transform_publisher"
    name="robot_cam_broadcaster"
    args="0.05 0.0 -0.03 1.5708 0.0 3.14159 NanoHex2 cam">
  </node>

 <!-- Launch test node -->
  <node
    name="vo_test"
    pkg="vo_test"
    type="vo_test"
    output="screen">
    <param name="calculate_scale" type="bool" value="true"/>

    <remap from="~vision_odom" to="/svo/odom"/>
    <remap from="~vicon_odom" to="/quadcloud2/odom"/>
  </node>
</launch>
